@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	background-color: #333;
	color: #dedede;
	font-family: "Lato", sans-serif;
	font-size: 15px;
}

.clr:after {
	content: ' ';
	display: table;
	clear: both;
	height: 0;
}

.row {
	clear: both;
}

.col {
	float: left;
	box-sizing: border-box;
}

.col-10 {
	width: 10%;
}

.col-20 {
	width: 20%;
}

.col-30 {
	width: 30%;
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}

.col-70 {
	width: 70%;
}

.col-80 {
	width: 80%;
}

.col-90 {
	width: 90%;
}

.col-100 {
	width: 100%;
}

#Head {
	background-color: #444;
	margin: 0 10px;
}

#Head h1 {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 0 0 10px;
	margin: 0;
}

#Controls {
	box-sizing: border-box;
	width: calc(100% - 300px);
	padding-left: 10px;
	display: flex;
	justify-content: flex-end;
}

#Setting {
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
#PhotoControls {
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 2rem;
}

#Photo {
	display: none;
}

#Photo.visible {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 100%;

	background-color: rgba(33, 33, 33, 0.5);
}

#Photo img {
	width: 100%;
}

.control-group {
	float: right;
}

label {
	display: none;
}

input[type="text"],
input[type="number"] {
	background-color: #555;
	border-radius: 3px;
	border: none;
	box-sizing: border-box;
	color: #999;
	font-family: inherit;
	font-size: 2rem;
	margin: 0.1rem;
	width: 5em;
	padding: 0.3em 0.5em;
	transition: background-color 0.2s;
}

button {
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #444;
	border: none;
	color: #999;
	font-family: inherit;
	font-size: .8rem;
	padding: 0.3rem 0.5rem;
	margin: 0.1rem;
	transition: background-color 0.2s;
}

button[data-icon] {
	font-size: 2rem;
	margin: 0 0.5rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
button:focus,
button:active {
	background-color: #494949
}

.charts {
	display: flex;
	flex-direction: row;
}

.linecharts {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.linechart {
	margin: 10px;
	box-sizing: border-box;
	height: 300px;
}

.gauges {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gauge {
	margin: 10px;
	height: 230px;
	width: 300px;
	box-sizing: border-box;
}

.gauge-data-label {
	text-align: center;
}

.gauge-data-label-unit{
	font-size: 1rem;
	color: silver;
}

.gauge-data-label-value {
	font-size: 1.5rem;
	color: #f0f0f3;
}

@media (max-width: 800px) {
	.charts {
		flex-direction: column;
		justify-content: center;
	}

	.gauges {
		flex-direction: row;
		order: 2;
	}
	.gauge {
		height: 180px;
		width: 260px;
	}
}

@media (max-width: 780px) {
	#Head h1 {
		display: none;
	}
	#Controls {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
	}

	#Setting {
		border-bottom: 1px solid #000;
		justify-content: space-between;
		order: 1;
	}

	#Setting [data-icon] {
		width: 100%;
	}

	#PhotoControls {
		order: 2;
		justify-content: space-around;
		padding-right: 0;
	}
	#PhotoControls [data-icon] {
		width: 100%;
	}
}

@media (max-width: 650px) {
	button[data-icon] {
		font-size: 1.5rem;
	}
	#Setting input[type="number"] {
		font-size: 1.5rem;
	}
}

@media (max-width: 575px) {
	button[data-icon] {
		font-size: 1.2rem;
	}
	#Setting input[type="number"] {
		font-size: 1rem;
	}
	.gauges {
		flex-direction: column;
		padding: 0 10px;
	}
	.gauge {
		margin: 0 auto 10px;
		width: 100%;
	}
}
